<section class="container dashbord">
    <div class="estilo"></div>
    <h2 class="titulo">Home</h2>
    <div class="container">
        <div class="icone1" routerLink="/login-aluno">
          <a>
              <img class="icone1" src="assets/student.svg" alt="">
          </a>
          <p class="texto1">Login Aluno</p>
        </div>
        <div class="icone2" routerLink="/login-funcionario">
          <a>
              <img class="icone2" src="assets/employee.svg" alt="">
          </a>
          <p class="texto2">Login Funcionário</p>
        </div>
    </div>
</section>