<section class="container dashbord">
    <div class="estilo"></div>
    <h2 class="titulo">Home</h2>
    <div class="container">
        <div class="icone1 lg-6">
          <a routerLink="#" routerLink="/login-aluno">
              <img class="icone1" src="assets/student.svg" alt="">
          </a>
          <p class="texto texto1" routerLink="/adicionar-questionario"><span id="adicionar">Direcionar para o Login de aluno</span></p>
        </div>
        <div class="icone2">
          <a routerLink="/login-funcionario">
              <img class="icone2" src="assets/employee.svg" alt="">
          </a>
          <p class="texto texto2"><span id="listar">Direcionar para o Login de funcionários</span></p>
        </div>
    </div>
</section>