<button type="button" routerLink="../" class="btn btn-outline-info"><img src="assets/seta-voltar.svg" alt=""></button>
<section class="container dashbord">
  <div class="estilo"></div>
  <h2 class="titulo">Painel de Controle</h2>
  <div class="container">
      <div class="icone1" routerLink="./lista-aluno-funcionario">
        <a>
            <img class="icone1" src="assets/student.svg" alt="">
        </a>
        <p class="texto texto1">
          Lista de alunos
        </p>
      </div>
      <div class="icone2" routerLink="./lista-acervo-funcionario">
        <a>
            <img class="icone2" src="assets/books.svg" alt="">
        </a>
        <p class="texto texto2" >
            Lista de livros
        </p>
      </div>
  </div>
</section>